@charset "utf-8";

/*본고딕-----------------------------------------------------------------------------------------*/
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 100;
  src: url(../fonts/NotoSansKR-Thin.woff2) format("woff2"),
    url(../fonts/NotoSansKR-Thin.woff) format("woff"),
    url(../fonts/NotoSansKR-Thin.otf) format("opentype");
}
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/NotoSansKR-Light.woff2) format("woff2"),
    url(../fonts/NotoSansKR-Light.woff) format("woff"),
    url(../fonts/NotoSansKR-Light.otf) format("opentype");
}
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/NotoSansKR-Regular.woff2) format("woff2"),
    url(../fonts/NotoSansKR-Regular.woff) format("woff"),
    url(../fonts/NotoSansKR-Regular.otf) format("opentype");
}
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 500;
  src: url(../fonts/NotoSansKR-Medium.woff2) format("woff2"),
    url(../fonts/NotoSansKR-Medium.woff) format("woff"),
    url(../fonts/NotoSansKR-Medium.otf) format("opentype");
}
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/NotoSansKR-Bold.woff2) format("woff2"),
    url(../fonts/NotoSansKR-Bold.woff) format("woff"),
    url(../fonts/NotoSansKR-Bold.otf) format("opentype");
}
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 900;
  src: url(../fonts/NotoSansKR-Black.woff2) format("woff2"),
    url(../fonts/NotoSansKR-Black.woff) format("woff"),
    url(../fonts/NotoSansKR-Black.otf) format("opentype");
}

:root {
  --dusk: #3d4a67;
  --slate: #3d4557;
  --black: #221714;
  --off-blue: #5b81b1;
  --faded-blue: #699dbd;
  --greyblue: #5db0b0;
  --dandelion: #fee500;
  --light-blue-grey: #b5cde6;
  --warm-grey: #8b8b8b;
  --warm-grey-Two: #807878;
  --greyish-brown: #575757;
  --pinkish-grey: #bfbfbf;
  --white-Two: #e5e5e5;
}

/* base */
* {
  margin: 0;
  padding: 0;
}
html,
body {
  -webkit-text-size-adjust: none; /* 크롬, 사파리, 오페라 신버전 */
  -ms-text-size-adjust: none; /* IE */
  -moz-text-size-adjust: none; /* 파이어폭스 */
  -webkit-font-smoothing: antialiased;
  font-size: 62.5%;
}
html {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
body {
  width: 100%;
  min-height: 100vh;
  font-family: "Noto Sans KR", "Apple SD Gothic Neo", "Malgun Gothic",
    sans-serif;
  line-height: 1.5;
}
table,
div {
  border-collapse: collapse;
}
form,
ul,
ol,
dl,
table,
div,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}
img,
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
  color: #575757;
}
li,
img,
select,
input,
label {
  vertical-align: middle;
}
ol,
ul,
li {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
}
address,
em {
  font-weight: normal;
  font-style: normal;
}
button {
  cursor: pointer;
  border: 0;
  background: transparent;
}
textarea {
  resize: none;
  box-sizing: border-box;
}
select,
textarea,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  -ms-appearance: none;
  appearance: none;
  vertical-align: middle;
  font-size: 100%;
  border-radius: 5px;
}

select::-ms-expand {
  display: none; /* 화살표 없애기 for IE10, 11*/
}
input[type="checkbox"] {
  width: 16px;
  height: 16px;
}
input[type="text"],
input[type="password"],
input[type="number"],
select {
  border: 1px solid var(--white-Two);
  box-sizing: border-box;
  border-radius: 5px;
  font-size: 17px;
  font-weight: 500;
}
@media screen and (max-width: 480px) {
  input[type="text"],
  input[type="password"],
  input[type="number"],
  select {
    font-size: 13px;
  }
}
input[type="submit"],
input[type="reset"],
input[type="button"] {
  cursor: pointer;
  border-radius: 5px;
}
input[type="file"] {
  font-family: "Noto Sans KR", "Apple SD Gothic Neo", "Malgun Gothic",
    sans-serif;
  font-size: 17px;
  font-weight: 500;
}
@media screen and (max-width: 480px) {
  input[type="file"] {
    font-size: 13px;
  }
}
.hidden {
  overflow: hidden;
  border: 0;
  position: absolute;
  z-index: -1;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
}
.ellipsis {
  display: block;
  width: 91%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.select_box {
  color: var(--black);
  height: 40px;
  background: #fff url(../images/common/ico_select.png) right 10px top 50%
    no-repeat;
}
@media screen and (max-width: 480px) {
  .select_box {
    height: 30px;
  }
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.auto {
  margin: 0 auto;
}
a.disable-link {
  pointer-events: none;
  cursor: default;
}
@media only screen and (max-device-width: 768px) {
  a.disable-link {
    pointer-events: auto;
    cursor: pointer;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .disabled {
    display: none;
  }
}
.bold {
  font-weight: 700 !important;
}
.table-center td {
  text-align: center;
}
.table-pre tbody th,
.pre {
  white-space: pre-line;
}
.txt_prp {
  white-space: nowrap;
}
.tl {
  text-align: left !important;
}
.red {
  color: #ff0006;
}
.blue {
  color: #5b81b1;
}
.indigo {
  color: #3d4a67;
}
.highlight-blue {
  background: var(--light-blue-grey);
}
.highlight-grey,
.bg-grey {
  background: #f4f4f4;
}
.bg-w {
  background: #fff !important;
}
.mt-2 {
  margin-top: 20px !important;
}
.lh-lg {
  line-height: 1.7;
}
.ml-10 {
  margin-left: 10px;
}

@media screen and (max-width: 480px) {
  .d-block {
    display: block;
  }
}

/* 버튼 */
.btnWrap {
  position: relative;
}
.btn-sm {
  background: var(--dusk);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 73px;
  height: 40px;
  color: #fff;
  border: solid 1px var(--white-two);
  border-radius: 5px;
  font-size: 17px;
  font-weight: 700;
}
.btn-md {
  background: var(--dusk);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 108px;
  height: 40px;
  color: #fff;
  border: solid 1px var(--white-two);
  border-radius: 5px;
  font-size: 17px;
  font-weight: 700;
}
@media screen and (max-width: 480px) {
  .btn-md {
    width: 74px;
    font-size: 13px;
    height: 28px;
    /* line-height: 28px; */
  }
}
.btn-outline-dusk {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--dusk);
  height: 40px;
  border-radius: 5px;
  font-size: 17px;
  font-weight: 700;
  color: var(--dusk);
}
@media screen and (max-width: 480px) {
  .btn-sm {
    font-size: 13px;
    width: 50px;
    height: 28px;
    /* line-height: 28px; */
  }
  .btn-outline-dusk {
    font-size: 13px;
    height: 28px;
    /* line-height: 28px; */
  }
}
.btn-outline-dusk:hover {
  text-decoration: none !important;
}
.btn-cancel {
  background: #a0a0a0;
}
.btn-delete {
  background: #a40000;
}
.btn-modify {
  background: var(--off-blue);
}
.btnCenter {
  text-align: center;
  overflow: hidden;
  margin-top: 50px;
}
@media screen and (max-width: 480px) {
  .btnCenter {
    margin-top: 20px;
  }
}
.btnRight {
  /* float: right; */
  position: absolute;
  top: 0;
  right: 0;
}

/* header
-----------------------------------------------------------------*/
header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #fefeff;
  z-index: 9;
  border-bottom: 1px solid #eee;
  -webkit-box-shadow: 0 5px 20px rgba(241, 241, 241, 0.4);
  box-shadow: 0 5px 20px rgba(241, 241, 241, 0.4);
}

@media screen and (min-width: 769px) {
  header h1 {
    position: absolute;
    top: 18px;
    left: 35px;
  }
}

@media screen and (max-width: 1024px) {
  header {
    z-index: 99;
  }
  header h1 {
    position: static;
    top: auto;
    left: 0;
    right: 0;
    text-align: center;
  }
}

header .h-inner {
  position: relative;
  max-width: 1240px;
  height: 80px;
  margin: 0 auto;
}
header .overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(61, 74, 103, 0.5);
}
@media screen and (max-width: 1024px) {
  header .h-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 78px;
  }
}
@media screen and (max-width: 480px) {
  header .h-inner {
    height: 59px;
  }
}

header nav {
  position: absolute;
  top: 1px;
  right: 25px;
  bottom: 0;
  /* float: right; */
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media screen and (max-width: 1024px) {
  header nav {
    /* width: calc(586 / 720 * 100%); */
    max-width: 586px;
    width: 80%;
    height: 100vh;
    background: #fefeff;
    left: auto;
    right: -100%;
    z-index: 9;
    overflow-y: scroll;
  }
}

header nav .h-menu > li {
  position: relative;
  float: left;
  line-height: 80px;
}

@media screen and (max-width: 1024px) {
  header nav .h-menu > li {
    float: none;
    line-height: 1;
    margin: 0;
    margin-right: 0 !important;
  }
}

header nav .h-menu > li::before {
  content: "";
  position: absolute;
  z-index: 9;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 2px;
  background: var(--off-blue);
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-transition: 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

@media only screen and (min-width: 1366px) and (max-width: 1919px) {
  header nav .h-menu > li::before {
    bottom: -2px;
  }
}

@media screen and (max-width: 1024px) {
  header nav .h-menu > li::before {
    content: none;
  }
}

header nav .h-menu > li::after {
  content: "";
  position: absolute;
  top: 38px;
  right: -40px;
  background: url(../images/header_menu_ico.png) no-repeat;
  width: 3px;
  height: 8px;
}

@media screen and (max-width: 1024px) {
  header nav .h-menu > li::after {
    content: none;
  }
}
header nav .h-menu > li:hover > a {
  color: #5b81b1;
}
header nav .h-menu > li:hover::before {
  -webkit-transform: scale(1);
  transform: scale(1);
}

header nav .h-menu > li.is-show .depth2 {
  height: 100%;
  max-height: 200vh;
  padding-left: 0;
  opacity: 1;
  visibility: visible;
  -webkit-transition: max-height 1s, visibility 1s, height 1s,
    opacity 1.4s cubic-bezier(0.19, 1, 0.22, 1);
  transition: max-height 1s, visibility 1s, height 1s,
    opacity 1.4s cubic-bezier(0.19, 1, 0.22, 1);
}

header nav .h-menu > li.is-show > a::after {
  -webkit-transform: rotate(315deg);
  transform: rotate(315deg);
}

header nav .h-menu > li:first-child {
  margin-right: 78px;
}

header nav .h-menu > li:nth-child(2) {
  margin-right: 77px;
}

header nav .h-menu > li:nth-child(3) {
  margin-right: 82px;
}

header nav .h-menu > li:nth-child(3)::after {
  right: -45px;
}

header nav .h-menu > li:nth-child(4) {
  margin-right: 76px;
}

header nav .h-menu > li:nth-child(4)::after {
  right: -43px;
}

header nav .h-menu > li:last-child::after {
  content: none;
}

header nav .h-menu > li > a {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 17px;
  font-weight: 500;
  text-align: center;
  transition: color 0.4s;
}

@media screen and (max-width: 1024px) {
  header nav .h-menu > li > a {
    border-bottom: 1px solid #eee;
    color: var(--dusk);
    font-size: 15px;
    padding: 15px 23px 15px 28px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  header nav .h-menu > li > a::after {
    content: "";
    width: 11px;
    height: 11px;
    border-top: 2px solid #bababa;
    border-right: 2px solid #bababa;
    display: inline-block;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    -webkit-transition: -webkit-transform 0.2s ease;
    transition: -webkit-transform 0.2s ease;
    transition: transform 0.2s ease;
    transition: transform 0.2s ease, -webkit-transform 0.2s ease;
  }
  header nav .h-menu > li.is-show > a::after {
    border-color: var(--dusk);
  }
}
@media screen and (max-width: 480px) {
  header nav .h-menu > li > a {
    font-size: 15px;
    /* padding: 15px 3.189vw 15px 33px; */
    padding-right: 5.189vw;
  }
  header nav .h-menu > li > a::after {
    width: 8px;
    height: 8px;
  }
}

header nav .h-menu .depth-tit {
  display: block;
  color: #3d4a67;
  font-size: 14px;
  letter-spacing: -0.03em;
  font-weight: 500;
  padding: 8px;
}

@media screen and (max-width: 1024px) {
  header nav .h-menu .depth-tit {
    display: none !important;
  }
}

header nav .h-menu .depth2 {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 80px;
  left: -526px;
  right: 0;
  min-height: 290px;
  padding-top: 15px;
  border-left: 1px solid #eee;
  background: #fefeff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: visibility 0.1s ease-out, opacity 0.1s ease-out;
  transition: visibility 0.1s ease-out, opacity 0.1s ease-out;
}

@media only screen and (min-width: 1366px) and (max-width: 1919px) {
  header nav .h-menu .depth2 {
    left: -430px;
  }
}

@media screen and (max-width: 1024px) {
  header nav .h-menu .depth2 {
    position: static;
    min-height: auto;
    border-left: 0;
    background: #eee;
    padding: 0;
    border-left: 0;
    height: auto;
    max-height: 0;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
  }
}

header nav .h-menu .depth2 li {
  line-height: 1;
}

header nav .h-menu .depth2 a {
  display: inline-block;
  padding: 8px;
  font-size: 14px;
  letter-spacing: -0.03em;
}
/* header nav .h-menu .depth3-tit {
  display: block;
  padding: 8px;
  font-size: 14px;
  color: #575757;
  letter-spacing: -0.03em;
} */
@media screen and (max-width: 1024px) {
  header nav .h-menu .depth2 a {
    display: block;
    padding: 13px 0 13px 26px;
    font-size: 15px;
  }
}
@media screen and (max-width: 480px) {
  header nav .h-menu .depth2 a {
    font-size: 13px;
  }
}
header nav .h-menu .depth2 a:hover {
  color: var(--off-blue);
  text-decoration: underline;
}

@media screen and (max-width: 1024px) {
  header nav .h-menu .depth3-tit {
    color: #6a6a6a;
    font-weight: 700;
  }
}

header nav .h-menu .depth3 li {
  line-height: 0.65;
}

header nav .h-menu .depth3 a {
  font-size: 12px;
}
@media screen and (max-width: 1024px) {
  header nav .h-menu .depth3 a {
    font-size: 13px;
    padding-left: 33px;
  }
}

header nav .h-menu .depth2-first {
  padding-left: 20px;
}

header nav .h-menu .depth2-sec {
  padding-left: 20px;
  left: -456px;
}

@media only screen and (min-width: 1366px) and (max-width: 1919px) {
  header nav .h-menu .depth2-sec {
    left: -406px;
  }
}

@media screen and (max-width: 1024px) {
  header nav .h-menu .depth2-sec {
    margin-left: 0;
  }
}

header nav .h-menu .depth2-third {
  padding-left: 20px;
  left: -375px;
}

@media only screen and (min-width: 1366px) and (max-width: 1919px) {
  header nav .h-menu .depth2-third {
    left: -325px;
  }
}

@media screen and (max-width: 1024px) {
  header nav .h-menu .depth2-third {
    margin-left: 0;
  }
}

header nav .h-menu .depth2-four {
  padding-left: 20px;
  left: -283px;
}

@media only screen and (min-width: 1366px) and (max-width: 1919px) {
  header nav .h-menu .depth2-four {
    left: -213px;
  }
}

@media screen and (max-width: 1024px) {
  header nav .h-menu .depth2-four {
    margin-left: 0;
  }
}

header nav .h-menu .depth2-five {
  left: -185px;
  padding-left: 20px;
}

@media only screen and (min-width: 1366px) and (max-width: 1919px) {
  header nav .h-menu .depth2-five {
    left: -145px;
  }
}

@media screen and (max-width: 1024px) {
  header nav .h-menu .depth2-five {
    margin-left: 0;
  }
}

@media screen and (min-width: 769px) {
  header nav.is-act .depth2 {
    visibility: visible;
    opacity: 1;
    -webkit-transition-delay: 0.25s;
    transition-delay: 0.25s;
  }
}

header nav.is-open {
  right: 0;
  -webkit-transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1);
}

header .h-menu-bg {
  opacity: 0;
  z-index: -1;
  position: absolute;
  top: 81px;
  left: 0;
  right: 0;
  min-height: 290px;
  background: #fefeff url(../images/menu_img.png) 0 17px no-repeat;
  -webkit-box-shadow: -0.4px 5px 5px 0 rgba(0, 0, 0, 0.05);
  box-shadow: -0.4px 5px 5px 0 rgba(0, 0, 0, 0.05);
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transform-origin: center top;
  transform-origin: center top;
  transition: transform 0.4s cubic-bezier(0.165, 0.84, 0.44, 1) 0.1s,
    opacity 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) 0.1s;
}

@media only screen and (min-width: 1366px) and (max-width: 1919px) {
  header .h-menu-bg {
    background-size: 18%;
    background-position: left bottom;
  }
}

@media screen and (max-width: 1024px) {
  header .h-menu-bg {
    display: none;
  }
}

header .h-menu-bg.is-act {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: opacity 0.5s cubic-bezier(0.165, 0.84, 0.44, 1),
    -webkit-transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: opacity 0.5s cubic-bezier(0.165, 0.84, 0.44, 1),
    -webkit-transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1),
    opacity 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1),
    opacity 0.5s cubic-bezier(0.165, 0.84, 0.44, 1),
    -webkit-transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

@media screen and (min-width: 769px) {
  header .m-menu-top {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  header .m-menu-top {
    display: block;
    height: 78px;
  }
  header .m-menu-top-inner {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    /* height: 11.4vw; */
    height: 100%;
    border-bottom: 1px solid #eee;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 480px) {
  header .m-menu-top {
    /* height: 16.25vw; */
    height: 59px;
  }
}

header .m-menu-logo {
  padding-left: 26px;
}

header .m-menu-logo img {
  width: 97px;
}
@media screen and (max-width: 1024px) {
  header .m-menu-logo img {
    width: 122px;
  }
}
@media screen and (max-width: 480px) {
  header .m-menu-logo {
    padding-left: 2.8rem;
  }
  header .m-menu-logo img {
    width: 92px;
  }
}

header .p-humberger {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 23px;
  background: var(--dusk);
  width: 48px;
  height: 48px;
  border-radius: 9999px;
  cursor: pointer;
}

@media screen and (min-width: 769px) {
  header .p-humberger {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  header .p-humberger {
    display: block;
    width: 36px;
    height: 36px;
  }
}

header .p-humberger span {
  display: block;
  position: absolute;
  right: 9px;
  background: #fff;
  width: 100%;
  height: 2px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

header .p-humberger span:first-child {
  width: 29px;
  top: 14px;
}
@media screen and (max-width: 1024px) {
  header .p-humberger span:first-child {
    width: 16px;
    top: 11px;
  }
}

header .p-humberger span:nth-child(2) {
  width: 19px;
  top: 23px;
}
@media screen and (max-width: 1024px) {
  header .p-humberger span:nth-child(2) {
    width: 11px;
    top: 18px;
  }
}

header .p-humberger span:last-child {
  width: 29px;
  top: 33px;
}
@media screen and (max-width: 1024px) {
  header .p-humberger span:last-child {
    width: 16px;
    top: 25px;
  }
}
@media screen and (max-width: 480px) {
  header .p-humberger {
    width: 32px;
    height: 32px;
  }
  header .p-humberger span {
    height: 1px;
    right: 7px;
  }
  header .p-humberger span:first-child {
    width: 18px;
    top: 9px;
  }

  header .p-humberger span:nth-child(2) {
    width: 15px;
    top: 16px;
  }

  header .p-humberger span:last-child {
    width: 18px;
    top: 23px;
  }
}
header .p-close {
  background: url(../images/m/close_ico.png) no-repeat;
  background-size: contain;
  width: 25px;
  height: 25px;
  margin-right: 16px;
}
@media screen and (max-width: 480px) {
  header .p-close {
    width: 20px;
    height: 20px;
  }
}

footer,
footer a {
  color: var(--warm-grey);
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
}
@media screen and (max-width: 1024px) {
  footer,
  footer a {
    font-size: 14px;
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  footer,
  footer a {
    display: block;
  }
}
@media screen and (max-width: 480px) {
  footer,
  footer a {
    font-size: 12px;
  }
}

footer .footer-menu {
  border-bottom: 3px solid #e5e5e5;
}

footer .footer-menu ul {
  overflow: hidden;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: flex-start;
  padding-right: calc(50 / 1240 * 100%);
  padding-top: 40px;
  padding-bottom: 29px;
  box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
  footer .footer-menu {
    padding: 0 15px;
  }

  footer .footer-menu ul {
    justify-content: space-between;
    padding-left: 0;
    padding-right: 0;
    padding-top: 25px;
    padding-bottom: 20px;
    text-align: center;
  }
}

footer .footer-menu li {
  position: relative;
  /* float: left; */
  margin-right: 28px;
}

footer .footer-menu li::after {
  content: "";
  position: absolute;
  top: 4px;
  right: -14px;
  background: url(../images/header_menu_ico.png) no-repeat;
  width: 3px;
  height: 8px;
}
@media screen and (max-width: 1024px) {
  footer .footer-menu li {
    /* float: none; */
    width: 100%;
    margin-right: 0;
  }
  footer .footer-menu li::after {
    right: 0;
  }
}
@media screen and (max-width: 768px) {
  footer .footer-menu li {
    width: auto;
    padding-right: 11%;
  }
  footer .footer-menu li::after {
    right: 25px;
  }
}
@media screen and (max-width: 600px) {
  footer .footer-menu li {
    padding-right: 0;
  }
  footer .footer-menu li::after {
    content: none;
  }
}
footer .footer-menu li a {
  transition: opacity 0.4s;
}

footer .footer-menu li a:hover {
  opacity: 0.7;
}

footer .footer-menu li:nth-child(2) a {
  color: var(--dusk);
}

footer .footer-menu li:last-child {
  margin-right: 0;
  padding-right: 0;
}

footer .footer-menu li:last-child::after {
  content: none;
}

footer .footer-contact {
  padding-top: 28px;
  padding-bottom: 120px;
}
footer .footer-contact .footer-inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
@media screen and (max-width: 480px) {
  footer .footer-contact {
    padding: 20px 0 153px 0;
  }
}
footer .footer-inner {
  position: relative;
  max-width: 1120px;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  footer .footer-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

@media screen and (max-width: 1024px) {
  footer .footer-logo,
  footer .footer-addr,
  footer .footer-tel {
    text-align: center;
  }
}

footer .footer-logo {
  padding-top: 2px;
}

@media screen and (max-width: 1024px) {
  footer .footer-logo {
    -webkit-box-ordinal-group: 5;
    -ms-flex-order: 4;
    order: 4;
    padding-top: 2.3rem;
    padding-left: 0;
    width: 139px;
  }
}
@media screen and (max-width: 480px) {
  footer .footer-logo img {
    width: 70px;
  }
}
footer .footer-addr {
  margin-left: calc(60 / 1240 * 100%);
  margin-right: calc(50 / 1240 * 100%);
  line-height: 1.8;
}

@media screen and (max-width: 1024px) {
  footer .footer-addr {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-ordinal-group: 2;
    /* -ms-flex-order: 1;
    order: 1; */
    margin-left: 0;
    margin-right: 0;
    white-space: pre-wrap;
  }
}
footer .footer-addr .addr {
  white-space: pre-line;
  word-break: keep-all;
}
@media screen and (max-width: 480px) {
  footer .footer-addr {
    padding: 0 18px;
    white-space: normal;
  }
  footer .footer-addr .addr {
    white-space: inherit;
  }
}

footer .footer-tel {
  line-height: 1.8;
}

@media screen and (max-width: 1024px) {
  footer .footer-tel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-ordinal-group: 4;
    /* -ms-flex-order: 3;
    order: 3;
    width: 68%;
    margin: 0 auto; */
  }
}
@media screen and (max-width: 480px) {
  footer .footer-tel {
    flex-direction: column;
  }
  footer .footer-tel p {
    padding: 3px 0;
  }
}
footer .footer-copy {
  position: relative;
  top: 5px;
  left: 194px;
}

@media screen and (max-width: 1024px) {
  footer .footer-copy {
    position: static;
    -webkit-box-ordinal-group: 3;
    /* -ms-flex-order: 2;
    order: 2; */
    line-height: 1.8;
  }
}
@media screen and (max-width: 480px) {
  footer .footer-copy {
    letter-spacing: -0.5px;
  }
}
#main {
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 81px;
}
#main.covering .root_daum_roughmap {
  position: relative;
  z-index: 0;
}
@media screen and (max-width: 1024px) {
  #main {
    padding-top: 59px;
  }
}
@media screen and (max-width: 768px) {
  #main {
    overflow-x: hidden;
  }
}

.back-to-top {
  position: fixed;
  bottom: 15px;
  right: 15px;
  width: 48px;
  height: 48px;
  border-radius: 9999px;
  background: var(--dusk);
  transition: right 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.back-to-top span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 108%;
}
.back-to-top span::before {
  content: "";
  width: 10px;
  height: 10px;
  border-top: 3px solid #fff;
  border-right: 3px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
}
.back-to-top.hideAway {
  right: -100px;
}
@media screen and (max-width: 1024px) {
  .back-to-top {
    width: 36px;
    height: 36px;
  }
  .back-to-top span::before {
    width: 7px;
    height: 7px;
    border-width: 2px;
  }
}

/* 다음지도 */
.root_daum_roughmap {
  width: 100% !important;
}
.root_daum_roughmap .wrap_map {
  height: 400px !important;
}
.root_daum_roughmap .wrap_controllers {
  display: none;
}
