@mixin breakpoint($point) {
    @if $point == desktop {
      @media screen and (min-width: 1024px){
        @content;
      }
    }
    @if $point == laptop {
        @media only screen and (min-width: 1366px) and (max-width: 1919px) {
          @content;
        }
      }
    @if $point == tablet {
      @media screen and (max-width: 1024px) {
        @content;
      }
    }
    @if $point == mobile {
      @media screen and (max-width: 768px)  {
        @content;
      }
    }
    @if $point == etc {
        @media screen and (min-width: 769px)  {
          @content;
        }
      }
    @if $point == mid {
      @media screen and (max-width: 1100px)  {
        @content;
      }
    }
  }

  @mixin inlineBlock {
    display: inline-block;
    vertical-align: middle;
    margin-left: -3px;
  }
  